img{
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.images{
    display: flex;
    gap: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}
.image{
    flex-grow: 1;
 
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.post{
    display: flex;
    margin-top: 20px;
}
.img{
    width:30%;
}
.col-r{
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
}
.text{
    padding-left: 20px;
}

@media only screen and (min-width:1024px){
    .image{
        width: calc(100%/6 - 30px);
    }
  }
  @media only screen and (min-width:768px) and (max-width:1024px) {
    .image{
        width: calc(100%/3 - 30px);
    }
  }
  @media only screen and (min-width:340px) and (max-width: 768px) {
    .image{
        width: calc(100% - 30px);
    }
  }
  @media only screen and (min-width:1024px) {
    .col-l{
        width: 70%;
    }
    .content{
        font-size: 16px;
    }
    .col-r{
        width: calc(30% - 60px) ;
        margin-left: 20px;
    }
  }
  @media only screen and (max-width:1024px) {
    .col-l{
        width: 100%;
    }
    .content{
        font-size: 12px;
    }
    .col-r{
        width: 100%;
        margin-top: 40px;
    }
  }
